@(userForm: Form[UserAccount],name: UserAccount)

@import helper._
@import helper.twitterBootstrap._

@main("Thông tin") {
  <h1>Infomations</h1>
<<<<<<< HEAD

=======
>>>>>>> 6b7f794f07b36b776c5ed76aa4dc18903d6a858a
  @helper.form(CSRF(routes.Teachers.save(name))) {

    <input type="hidden" value="@userForm("id").valueOr("")" name="id"/>
    <input type="hidden" value="@userForm("name").valueOr("")" name="name"/>
    <fieldset>
      <legend>Tài khoản @userForm("name").valueOr("New")</legend>
<<<<<<< HEAD
      @helper.inputText(userForm("date"), '_label -> "BIRTHDAY")
      @helper.inputText(userForm("sdt"), '_label -> "SỐ ĐIỆN THOẠI")
      @helper.inputText(userForm("chucdanh"), '_label -> "CHỨC DANH (TS, PGS, GS,...ThS.....)")
      @helper.inputText(userForm("noicongtac"), '_label -> "NƠI CÔNG TÁC")

      @helper.textarea(userForm("description"), '_label -> "THÔNG TIN THÊM")
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save" onsubmit="return validateForm()>
=======

      @helper.textarea(userForm("description"), '_label -> "THÔNG TIN CHUNG")
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save">
>>>>>>> 6b7f794f07b36b776c5ed76aa4dc18903d6a858a
  }
  <br><center> <span class="glyphicon glyphicon-home" aria-hidden="true"></span><a href="@routes.Teachers.details(name)"> TRANG CHỦ </a><span class="glyphicon glyphicon-home" aria-hidden="true"></span></center>
}