@(currentPage: com.avaje.ebean.Page[UserAccount],chanvai: UserAccount)

@import helper._

@main("Giáo viên") {
Danh sách đăng ký:
  </br>

  <div id="pagination" class="pagination">
    @if(currentPage.hasPrev) {
      <li>
        <a href="@routes.Teachers.list(currentPage.getPageIndex - 1,chanvai)">
            &larr;
        </a>
      </li>
    } else {
      <li class="disabled"><a>&larr;</a></li>
    }
    <li class="active">
      <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
    </li>
    @if(currentPage.hasNext) {
      <li>
        <a href="@routes.Teachers.list(currentPage.getPageIndex + 1,chanvai)">&rarr;</a>
      </li>
    } else {
      <li class="disabled"><a>&rarr;</a></li>
    }
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tài khoản</th>
        <th>Họ tên</th>
<<<<<<< HEAD
        <th>Quyền hạn, chức vụ</th>
          <th>Chức danh</th>
          <th>Số điện thoại</th>
          <th>Nơi công tác</th>

        <th>Thông tin thêm</th>
=======
        <th>Vai trò, chức vụ</th>
        <th>Description</th>
>>>>>>> 6b7f794f07b36b776c5ed76aa4dc18903d6a858a
      </tr>
    </thead>
    <tbody >
    <script type="text/javascript">
    $(document).ready(function() {
       $(".element span").text(function(index, text) {
        return text.replace('3', 'Giáo vụ');
        });
    });
	
  </script>
     <script type="text/javascript">
    $(document).ready(function() {
        $(".element span").text(function(index, text) {    
return text.replace('2', 'Giảng viên');
        });
    });
  </script>
  
     <script type="text/javascript">
    $(document).ready(function() {
        $(".element span").text(function(index, text) {       
return text.replace('1', 'Học viên');
        });
    });
  </script> 
@for(account <- currentPage.getList()) { 
 <td>@account.email</td>
<td>@account.name</td>
<td class="element"><span>@account.tag.id</span></td>
<<<<<<< HEAD
    <td>@account.chucdanh </td>
    <td>@account.sdt </td>
    <td>@account.noicongtac </td>

=======
>>>>>>> 6b7f794f07b36b776c5ed76aa4dc18903d6a858a
 <td>@account.description </td></tr>
   }
    </tbody>
  </table>
  <a class="btn" href="@routes.Teachers.details(chanvai)">BACK</a>
  <br><center> <span class="glyphicon glyphicon-home" aria-hidden="true"></span><a href="@routes.Teachers.details(chanvai)"> TRANG CHỦ </a><span class="glyphicon glyphicon-home" aria-hidden="true"></span></center>

}
